.container {
    display: flex;
    flex-direction: row;
    min-height: 800px;
    .line {
        width: 1px;
        background: rgb(226, 226, 224);
    }
    .menu {
        width: 150px;
        margin-top: 150px;
    }
    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
    }
}